.navtop h2 {
  position: relative;
  top: -2px;
  left: 30px;
  font-family: viga;
  color: whitesmoke;
}

.navtop .icon {
  font-size: 30px;
  color: white;
}

.navtop .icon:hover {
  transform: skew(45deg, 45deg);
  transition: 0.4s;
}

.navtop h2:hover {
  animation: navtop 0.1s infinite;
  animation-timing-function: linear;
}

@keyframes navtop {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}

/* ------------------------------------------------------------- */

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-y: auto;
  border-radius: 0;
}

.modal.left .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: transparent;
  background-color: #fafafa;
  background-image: url(../../../Image/bgmodal.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  height: 30%;
}

/* ----- v CAN BE DELETED v ----- */
body {
  background-color: #78909c;
}

.btn-demo {
  margin: 15px;
  border-radius: 0;
  font-size: 16px;
  background-color: transparent;
  position: relative;
  top: 8%;
  left: -8%;
}

.btn-demo:focus {
  outline: 0;
}

/* Navbar */
.fixed-top {
  background: rgba(232, 242, 248, 0.4);
}
.modal-header img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  top: 20%;
}

.down p {
  cursor: pointer;
  margin-bottom: -5px;
}

.navtop .uniq {
  background: rgba(232, 242, 248, 0.4);
  position: relative;
  top: -32px;
  padding: 5px 0 8px 10px;
  cursor: pointer;
}

.navtop p:focus {
  background: grey !important;
  color: black;
}

.navtop .down .iconn {
  position: relative;
  right: -100px;
}

.navtop .collapse .navbar-nav a {
  color: blue;
  font-family: viga;
}
.navtop .collapse .navbar-nav a:hover {
  color: orange;
}

.modal-content .imagesy {
  margin-top: -12px !important;
  width: 80px;
  height: 80px;
  background-image: url(../../../Image/human5.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 40px;
  position: relative;
  top: 30%;
}

.fa-camera {
  margin-left: 350%;
  margin-top: 350%;
  color: rgba(255, 251, 0, 0.8);
}

.fa-camera:hover {
  color: greenyellow;
}


.pe-email{
  margin-left: 5px;
}